body {
  background-color: #f4f4f4;
  margin-top: 50px;
}

.item {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 5px;
  box-shadow: 0 0 1em #ccc;
  transition: all .2s ease-in-out;
}

.item:hover {
  box-shadow: 0 0 1em #aaa;
}

.item.completed {
  text-decoration: line-through;
}

.toggles {
  color: black;
}

.name {
  padding-top: 3px;
}

.remove {
  padding-left: 0;
}

button:focus {
  border: 1px solid #333;
}

/*** This style comes from index style jsx from nextjs-mongodb & docker-getting-started tutorial ***/

.landing
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.landing
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.landing
.title, 
.subtitle,
.description {
  text-align: center;
}

.landing
.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.landing 
.card:hover,
.card:focus,
.card:active {
  background-color: #F25F5C;
  color: #fff;
  border-color: #eaeaea;
}

.landing 
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.landing
.disabled-item {
  color: #eee;
  border-color: #eee;
}

.landing
.disabled-item:hover,
.disabled-item:focus,
.disabled-item:active {
  background-color: #fff;
  color: #dedbdb;
  border-color: #dedbdb;
}

footer {
  text-align: center;
}