.item {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 5px;
  box-shadow: 0 0 1em #ccc;
  transition: all .2s ease-in-out;
}

.item:hover {
  box-shadow: 0 0 1em #aaa;
}

.item.completed {
  text-decoration: line-through;
}

.toggles {
  color: black;
}

.name {
  padding-top: 3px;
}

.remove {
  padding-left: 0;
}

button:focus {
  border: 1px solid #333;
}

/*** This style comes from index style jsx from nextjs-mongodb & docker-getting-started tutorial ***/

.landing .title a:hover,
.landing .title a:focus,
.landing .title a:active {
  text-decoration: underline;
}

.landing .title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.landing .title,
.landing .subtitle,
.landing .description {
  text-align: center;
}

.landing .card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.landing .card:hover,
.landing .card:focus,
.landing .card:active {
  background-color: #0d6efd;
  color: #fff;
  border-color: #eaeaea;
}

.landing .card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.landing .disabled-item {
  color: #eee;
  border-color: #eee;
}

.landing .disabled-item:hover,
.landing .disabled-item:focus,
.landing .disabled-item:active {
  background-color: #fff;
  color: #dedbdb;
  border-color: #dedbdb;
}

/* Start Calculator app */
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

.calculator {
  padding: 0.2em;
  background: rgb(221, 71, 71);
  max-width: 100%;
  border-radius: 4px;
}

.calculator .formulaScreen {
  padding: 10px 0;
  font-family: digital;
  font-size: 2em;
  color: rgb(225, 146, 0);
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.calculator .outputScreen {
  font-size: 1em;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
}

.calculator button {
  height: 100px;
  width: 25%;
  color: white;
  border: 0.1px solid rgba(221, 71, 71, 0.5);
  background: rgb(94, 8, 8);
  font-size: 2em;
  cursor: default;
}

.calculator button:hover {
  color: rgb(94, 8, 8);
  background: rgba(94, 8, 8, 0.5);
  z-index: 3;
}

/* End Calculator app */

/* Start Clock app */
#clockapp .length-control {
  width: 300px;
}

#clockapp .timer {
  border: 2px solid #13353a;
  width: 100px;
  border-radius: 10px;
}

#container .timer #time-left {
  font-family: digital;
}

#container .timer .timer-control button:active {
  color: #13353a;
}

#clockapp button {
  background: none;
  outline: none;
  border: none;
  color: #13353a;
  cursor: pointer;
}

/* End Clock app */

/* Start Tic Tac Toe app */
#tictactoeapp .board-row:after {
  clear: both;
  content: "";
  display: table;
}

#tictactoeapp .status {
  margin-bottom: 10px;
}

#tictactoeapp .square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

#tictactoeapp .square:focus {
  outline: none;
}

#tictactoeapp .kbd-navigation .square:focus {
  background: #ddd;
}

#tictactoeapp .game {
  display: flex;
  flex-direction: row;
}

#tictactoeapp .game-info {
  margin-left: 20px;
}

/* End Tic Tac Toe app */